.add-visitante-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-visitante-modal {
    background-color: white;
    border-radius: 10px;
    width: 800px; /* Más ancho para que todo quepa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
}

.add-visitante-modal-header {
    background-color: var(--primary-color); /* El color azul del header */
}

.add-visitante-modal-header h2 {
    background-color: var(--primary-color); /* El color azul del header */
    color: white !important; /* Letras blancas en el header */
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.add-visitante-modal-content {
    padding: 20px;
}

.add-visitante-modal-options {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 15px; /* Espaciado uniforme entre las celdas */
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-visitante-modal-options label {
    display: flex;
    flex-direction: column; /* Alineación vertical de label y input */
    color: var(--text-primary);
    font-size: 1.2rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.add-visitante-modal-options input[type="text"] {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-visitante-modal-close-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(173, 173, 173);
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.add-visitante-modal-close-button:hover{
    background-color: rgb(58, 58, 58);
}

.add-visitante-modal-confirm-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

.add-visitante-modal-confirm-button:hover {
    background-color: var(--secondary-hover-color);
}
