@use '../General/Colors.scss';

.code-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.code-modal {
    background-color: white;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    opacity: 0;
    animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

/* 🔹 Ajustes para centrar el texto y mover la "X" a la derecha */
.code-modal-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center; /* Centra el título */
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
}

/* 🔹 Estilo para la "X" (botón de cerrar) en la esquina derecha */
.close-button {
    color: white;    
}

/* 🔹 Estilo del título */
.code-modal-header h2 {
    background-color: var(--primary-color);
    color: white !important;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1; /* Hace que el título se expanda */
    margin: 0; /* Evita espacios extra */
}

.code-modal-content {
    padding: 20px;
    animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.code-modal-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.code-modal-options label {
    display: flex;
    gap: 20px;
    color: var(--text-primary);
    font-size: 1.5rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.code-modal-options input[type="checkbox"] {
    margin: 0 15px;
    width: 20px;
    height: 20px;
}

.single-use-options {
    border-left: 2px solid var(--primary-color);
    padding-left: 1rem;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-use-title {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: bold;
}

.single-use-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkbox-label {
    font-size: 1.1rem;
    color: #333;
    cursor: pointer; 
}

.checkbox-wrapper-12 {
    position: relative; 
    display: flex;
    gap: 20px;
}

.checkbox-wrapper-12 > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
}

.checkbox-wrapper-12 * {
    box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
}

.checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(100px - 12px);
    left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked+label {
    animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked+label+svg path {
    stroke-dashoffset: 0;
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

.scale-down {
    animation: scaleDown 0.5s ease-out forwards;
}

@-moz-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color), 16px -8px 0 -8px var(--primary-color), 16px 8px 0 -8px var(--primary-color), 0 18px 0 -8px var(--primary-color), -16px 8px 0 -8px var(--primary-color), -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-webkit-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color), 16px -8px 0 -8px var(--primary-color), 16px 8px 0 -8px var(--primary-color), 0 18px 0 -8px var(--primary-color), -16px 8px 0 -8px var(--primary-color), -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-o-keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color), 16px -8px 0 -8px var(--primary-color), 16px 8px 0 -8px var(--primary-color), 0 18px 0 -8px var(--primary-color), -16px 8px 0 -8px var(--primary-color), -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@keyframes splash-12 {
    40% {
        background: var(--primary-color);
        box-shadow: 0 -18px 0 -8px var(--primary-color), 16px -8px 0 -8px var(--primary-color), 16px 8px 0 -8px var(--primary-color), 0 18px 0 -8px var(--primary-color), -16px 8px 0 -8px var(--primary-color), -16px -8px 0 -8px var(--primary-color);
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    } }

/* 🔹 Animaciones */
@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
    }

    100% {
        background: rgba(0, 0, 0, .7);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(.8) translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

@keyframes scaleBack {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.85);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(.8) translateY(1000px);
        opacity: 0;
    }
}

/* 🔹 📱 Responsivo para móviles (máx. 768px) */
@media screen and (max-width: 768px) {
    .code-modal {
        border-radius: 10px;
        width: 300px;
        height: auto; /* Ajusta la altura automáticamente */
    }

    .code-modal-header {
        padding: 8px;
    }

    .code-modal-header h2 {
        font-size: 1.2rem;
    }

    .code-modal-options {
        gap: 10px;
        margin-left: 0;
        margin-top: 5px;
    }

    .code-modal-options label {
        font-size: 1rem;
    }

    .code-modal-actions {
        margin-bottom: 20px;
        align-items: center;
    }
}

/* 🔹 📏 Responsivo para tablets (769px a 1068px) */
@media screen and (min-width: 769px) and (max-width: 1068px) {
    .code-modal {
        border-radius: 10px;
        width: 500px;
        height: auto;
    }

    .code-modal-header h2 {
        font-size: 1.5rem;
    }

    .code-modal-options {
        gap: 15px;
        margin-left: 40px;
        margin-top: -10px;
    }

    .code-modal-options label {
        font-size: 1.4rem;
    }
}
