@import '../General/Colors.scss';

.vehiculo-no-data {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
    text-align: center; 
    color: var(--text-disabled);
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

.vehiculo-no-data .icon-placeholder {
    font-size: 10rem; 
    color: var(--border-color);
    margin-top: 10px; 
}

.vehiculos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.vehiculo-card {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 40px;
}

.vehiculo-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    gap: 15px;               
    margin-bottom: 15px;
}

.color-icon {
    font-size: 24px;
}

.vehiculo-card-body p {
    margin: 5px 0;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.vehiculo-card-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    align-self: flex-end;
}

.vehiculos-main .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

@media screen and (max-width: 768px) {
    .vehiculos-main {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .vehiculo-no-data {
        margin: 0;
        font-size: 1.5rem;
    }

    .vehiculos-cards {
        display: flex;
        gap: 30px;
    }

    .vehiculo-card {
        width: 80%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .vehiculo-card-actions {
        align-self: center;
    }

    .vehiculo-no-data {
        font-size: 1.5rem;
    }
    
    .vehiculo-no-data .icon-placeholder {
        font-size: 8rem; 
    }
}

@media screen and (min-width: 769px) and (max-width: 1068px) {
    .vehiculos-main {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .vehiculo-no-data {
        font-size: 1.8rem;
    }
    
    .vehiculo-no-data .icon-placeholder {
        font-size: 10rem; 
    }
}

