.loading-container .loading-captions {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(117, 117, 117);
    letter-spacing: 1px;
    margin-top: 30px;
}