/* Importar variables globales */
@use '../General/Colors.scss';

/* Evitar scroll y configurar fondo */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/background-residential-access.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(50%);
}

/* Caja principal de login */
.login-box {
    background: var(--background-blur);
    backdrop-filter: blur(10px);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0px 6px 20px var(--box-shadow);
    text-align: center;
    width: 380px;
    border: 0.5px solid var(--background-border); 
}

/* Título */
.login-box h2 {
    font-size: 2.8rem;
    font-family: 'Work-Italic', sans-serif;
    color: var(--secondary-hover-color);
    margin-bottom: 25px;
    font-weight: 900;
    -webkit-text-stroke: 0.5px var(--stroke-color);
    letter-spacing: -2px;
    transform: scale(.9, .95);
}

/* Estilo de inputs */
.input-container {
    position: relative;
    margin-bottom: 40px;
}

.input-container input {
    width: 90%;
    padding: 12px 40px 12px 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    font-size: 1.1rem;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--text-placeholder);
    font-size: 0.9rem;
}

.input-container .icon {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

/* Checkbox y botón */
.login-options {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1rem;
    color: var(--text-primary);
    margin-left: 20px;
}

.login-options label {
    display: flex;
    align-items: center; /* Alinea el checkbox y el texto en el centro */
    gap: 8px; /* Espacio entre el checkbox y el texto */
    cursor: pointer; /* Muestra el cursor de clic al pasar sobre el label */
}

.login-options input[type="checkbox"] {
    margin: 0; /* Elimina márgenes extra alrededor del checkbox */
    width: auto; /* Asegura que el tamaño del checkbox sea el predeterminado */
    height: auto; /* Mantiene su altura correcta */
}

.login-box button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: none;
    font-size: 1.1rem;
    font-family: 'Work-Italic', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90%;
    border-radius: 50px;
}

.login-box button:hover {
    background-color: var(--primary-hover-color);
}

/* Enlace para crear cuenta */
.no-account {
    margin-top: 15px;
    font-size: 1rem;
    color: var(--text-primary);
}

.no-account a {
    color: var(--text-link);
    text-decoration: none;
}

.no-account a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .login-box {
        width: 200px;
        padding: 10px 50px;
    }
    
    .login-box h2 {
        font-size: 2rem;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .input-container input {
        font-size: .9rem;
        width: 100%;
        margin: 0;
    }

    input::placeholder {
        font-size: 0.8rem;
    }

    .input-container .icon {
        font-size: .8rem;
    }

    .login-options {
        margin-bottom: 20px;
        text-align: left;
        font-size: .8rem;
        margin-left: 0;
    }

    .login-options input[type="checkbox"] {
        margin: 0; /* Elimina márgenes extra alrededor del checkbox */
        width: auto; /* Asegura que el tamaño del checkbox sea el predeterminado */
        height: auto; /* Mantiene su altura correcta */
    }

    .login-box button {
        font-size: .8rem;
        width: 100%;
    }

    .no-account {
        margin-top: 15px;
        font-size: .8rem;
    }
}
