.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding-right: 35px;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
}

.input-error {
    border: 1px solid red;
    animation: vibrar 0.3s linear;
}

@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
